@tailwind base;
@tailwind components;
@tailwind utilities;

.indicator {
  animation: indicator 0.3s ease-in;
}

@keyframes indicator {
  0% {
    height: 0%;
  }
  100% {
    height: 60%;
  }
}

.scrollbar-none {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.scrollbar-none::-webkit-scrollbar {
  display: none;
}

.loading-ring {
  width: 5rem;
  aspect-ratio: 1;
  margin: 0 auto;
  padding: 10px;
  border: 10px dashed rgba($color: #000000, $alpha: 0.7);
  border-radius: 100%;
  animation: loadingD 3.5s 1s ease-in-out infinite;
}

@keyframes loadingD {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.vertical-text {
  writing-mode: vertical-lr;
  // transform: rotate(-180deg);
}

.button-action {
  @apply p-2 px-2.5 text-sm;
}

dialog[open] {
  @apply animate-zoomOut;
}
